$featured-category-gap: 1em;

.homepage-categories {
  #main-outlet {
    padding-top: 1.5em;

    @media screen and (max-width: 450px) {
      padding-top: 0.5em;
    }
  }
}

.featured-category-wrapper {
  position: relative;
  margin: 6em auto;
  max-width: 1040px;
  min-height: 280px;

  @media screen and (max-width: 450px) {
    min-height: 265px;
  }

  .spinner {
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 450px) {
      top: 70px;
    }
  }

  @media screen and (max-width: 450px) {
    margin-top: 5em;
  }

  & > h2 {
    font-size: 35px;
    text-transform: capitalize;
    font-weight: 600;

    &:before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: $tertiary;
      border-radius: 50%;
    }
  }

  & > p {
    font-size: 18px;
    max-width: 640px;
  }
}

.featured-categories {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.featured-category {
  flex: 0 1 100%;
  display: flex;
  margin-top: $featured-category-gap;
  padding: 2.5em;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 0.2s;

  @media screen and (min-width: 750px) {
    flex-basis: calc(50% - #{$featured-category-gap} / 2);
  }

  &:hover {
    border-color: $tertiary;
    transition: all 0.2s;
  }

  &:hover .featured-category-name,
  &:hover .featured-category-description {
    color: $tertiary;
    transition: all 0.2s;
  }

  &:nth-of-type(2n + 1) {
    @media screen and (min-width: 750px) {
      margin-right: $featured-category-gap;
    }
  }
}

.featured-category-image {
  flex: 0 0 90px;
  height: 90px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.featured-category-content {
  margin-left: 2.5em;
}

.featured-category-name {
  margin: 0;
  font-size: 1.7em;
  color: #000;
  transition: all 0.2s;
}

.featured-category-description {
  margin-top: 0.7em;
  color: #555;
  line-height: 1.7em;
  transition: all 0.2s;
}
